.App {
  font-family: sans-serif;
  padding: 20px;
}

.artist-list {
  margin-bottom: 20px;
}

.timetable div {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.clash {
  background-color: #ffcccc;
}